.about-info {
  .name {
    font-weight: bold;
    font-size: 1.05rem;
  }
  .mail {
    color: #666;
    text-decoration: underline;
  }
  .desc {
    margin-top: 20px;
  }
}

.about-container {
  margin-top: 8px;
  display: flex;
  font-size: 14px;
  gap: 6px;
}

.social-links {
  a {
    text-decoration: underline;
  }
  a:hover {
    color: blue;
  }
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 6px;
  }
}
