.about-wrap {
  display: flex;
}
.about-info {
  width: 80%;
  .name {
    font-weight: bold;
    font-size: 1.05rem;
  }
  .mail {
    font-size: 0.86rem;
    color: #666;
    text-decoration: underline;
  }
  .desc {
    margin-top: 1.7rem;
    a {
      text-decoration: underline;
    }
    a:hover {
      color: blue;
    }
  }
}
.social-links {
  margin-left: auto;
  li + li {
    margin-top: 0.5rem;
  }
  i {
    font-size: 1.5rem;
  }
  i:hover {
    color: blue;
  }
}