.site {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .main {
    flex-grow: 1;
    margin-top: 1.5rem;
  }
  .footer {
    padding: 1.5rem 0;
    font-size: 0.85rem;
    a {
      white-space: pre;
    }
  }
}
@media screen and (max-width: 900px) {
  .site {
    padding: 0 1.5rem;
  }
}